.header__lang {
  margin-top: 18px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__lang {
    margin-top: 14px;
  }
}

