.logo {
  width: 176px;
  height: 52px;
}

@media screen and (min-width: 769px) and (max-width: 1024px){

}

@media screen and (min-width: 321px) and (max-width: 768px) {

}

@media screen and (max-width: 320px) {
  .logo {
    width: 142px;
    height: 42px;
  }
}
