.cover {
  margin: 0 auto;
  max-width: 1184px;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    margin: 0 -48px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .cover {
    max-width: 768px;
    margin: 16px -24px 0 -24px;

  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    margin: 3px -16px 0 -16px;

  }
}
