.cover {
  background-image: url("../../images/cover-trains.jpg");
  max-width: calc(100%);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.cover::before {
  content: "";
  width: 0;
  height: 0;
  padding-top: calc(740/1184 * 100%);
}


@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    margin-left: -48px;
    margin-right: -48px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    margin-left: -24px;
    margin-right: -24px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    margin-left: -16px;
    margin-right: -16px;
  }
}
