.cover__background {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(42, 44, 47, 0.3);
}


.cover__background:hover {
  background-color: rgba(42, 44, 47, 0.8);
}