.place__website {
  max-width: 484px;
  align-self: end;
  justify-self: left;
  color: #FFFFFF;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 321px) and (max-width: 768px) {

}

@media screen and (max-width: 320px) {
  .place__website {
    max-width: 320px;
    align-self: start;
    justify-self: left;
    margin-top: -12px;
  }
}
