.cover__item {
  width: 100%;
  /*
  min-height: 740px;
  */
  /*
  width: 100%;
  */
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 50px;

  /*z-index: 2;
  grid-column: 1/1;
  grid-row: 2/3;
  align-self: center;*/
}

